.grid {
  display: grid;
  gap: 1rem;
}

label {
  display: grid;
  gap: 0.5rem;
}

input,
select {
  width: 100%;
}

.checkbox {
  align-items: center;
  grid-auto-flow: column;
  justify-content: start;
}
